<div class="video-show" data-sidebar-target="pieces">
  <h1 class="video-show-title"><%= @video.title %></h1>
  <div class="video-player-wrap">
    <%= local_video_tag(@video, autoplay: true) %>
  </div>
  <p class="video-piece-ref">
    Extrait de : <%= link_to @video.piece.title, piece_path(@video.piece) %>
    <% if @video.piece.year %>(<%= @video.piece.year %>)<% end %>
  </p>
  <% if @video.description.present? %>
    <p class="video-desc"><%= simple_format(@video.description) %></p>
  <% end %>
</div>
