<div>
  <div class="sidebar collapsed" data-sidebar-target="sidebar">
    <div class="toggle-wrapper">
      <button data-action="click->sidebar#toggle" class="toggle-btn">
        <i data-sidebar-target="chevronLeft" class="fa-solid fa-chevron-left"></i>
        <i data-sidebar-target="chevronRight" class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <div class="logo-frame">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "aaa_logo.png", class: "logo-img" %>
      <% end %>
    </div>

    <ul class="nav-links">
      <% if user_signed_in? %>
        <li><%= link_to "Accueil", root_path, class: "nav-link" %></li>
        <li><%= link_to "Messages", "#", class: "nav-link" %></li>
        <li class="dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", "#", class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to members_path, class: "nav-link" do %>
            <i class="fas fa-users icon-only"></i>
            <span class="link-text">La Troupe</span>
          <% end %>
        </li>
        <li>
          <%= link_to pieces_path, class: "nav-link" do %>
            <i class="fas fa-theater-masks icon-only"></i>
            <span class="link-text">Les Pièces</span>
          <% end %>
        </li>
        <li>
          <%= link_to galleries_path, class: "nav-link" do %>
            <i class="fas fa-images icon-only"></i>
            <span class="link-text">Galeries</span>
          <% end %>
        </li>
        <li>
          <%= link_to contact_path, class: "nav-link" do %>
            <i class="fas fa-envelope icon-only"></i>
            <span class="link-text">Contact</span>
          <% end %>
        </li>
        <%# <li>
          <%# <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        <%# </li> %>
      <% end %>
    </ul>
  </div>
</div>
