<div class="piece-show" data-sidebar-target="pieces">

  <%# --- Bannière : on utilise l'affiche v2 nommée "<TITRE> 2.JPG" --- %>
  <% banner_name = @piece.title.parameterize.underscore + "_2.jpg" %>
  <div class="piece-banner" style="background-image: url('<%= asset_path(banner_name) %>')">
    <h1 class="piece-banner__title"><%= @piece.title %></h1>
  </div>



  <div class="piece-content">
    <% if @piece.respond_to?(:description) && @piece.description.present? %>
      <div class="piece-desc">
        <%= simple_format(@piece.description) %>
      </div>
    <% end %>

    <%# Auteur %>
    <% author = @piece.try(:author) || @piece.try(:auteur) %>
    <% if author.present? %>
      <p class="piece-author"><span>Auteur : </span>&nbsp;<%= author %></p>
    <% end %>
    <div class="piece-director">
      <p class="piece-author">
        <span>Mise en scène : </span>&nbsp;
        <%= link_to member_path(@piece.member), class: "director-link" do %>
          <%= @piece.member.first_name %>&nbsp;<%= @piece.member.last_name.titleize %>
        <% end %>

      </p>

      <div class="star-photo">
        <svg class="star-svg" viewBox="0 0 100 100" aria-hidden="true" role="img">
          <defs>
            <!-- Etoile pour le découpage -->
            <clipPath id="starClip" clipPathUnits="objectBoundingBox">
              <polygon points="
                0.50 0.00, 0.61 0.35, 0.98 0.35,
                0.68 0.57, 0.79 0.91, 0.50 0.70,
                0.21 0.91, 0.32 0.57, 0.02 0.35,
                0.39 0.35
              "/>
            </clipPath>
          </defs>

          <!-- Image découpée -->
          <image
            x="0" y="0" width="100" height="100"
            preserveAspectRatio="xMidYMid slice"
            clip-path="url(#starClip)"
            xlink:href="<%= asset_path(@piece.title.parameterize.underscore + '_3.jpg') %>" />

          <!-- Bordure dorée -->
          <polygon class="star-stroke" points="
            50 0, 61 35, 98 35,
            68 57, 79 91, 50 70,
            21 91, 32 57, 2 35,
            39 35
          " fill="none" />
        </svg>
      </div>
    </div>



    <p class="piece-author">
      <span>Comédiens : </span>
      <ul>
        <% @members.each do |member| %>
          <div class="piece-comedien">
            <%= link_to member_path(member), class: "director-link" do %>
              <p><%= member.first_name %> <%= member.last_name.titleize %></p>
            <% end %>

            <% roles_count = member.castings.where(piece: @piece).count %>
            <% if roles_count > 1 %>
              <p>dans les rôles de :</p>
            <% else %>
              <p>dans le rôle de :</p>
            <% end %>
            <div class="member-roles">
              <% member.castings.where(piece: @piece).each do |casting| %>
                <div class="member-role">
                  <% if casting.photo.present? %>
                    <div class="casting-photo-oval">
                      <%= image_tag casting.photo, alt: casting.role, class: "oval-img" %>
                    </div>
                  <% end %>
                  <div class="role-name"><%= casting.role %></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="photos-piece">
    <p class="piece-author"><span>Photos de la Pièce :</span></p>
    <%= link_to gallery_path(@gallery), class: "gal-card" do %>
      <div class="gal-cover">
        <% if @gallery.cover.present? %>
          <%= image_tag @gallery.cover, alt: @gallery.title %>
        <% else %>
          <div class="cover-placeholder">Aucune image</div>
        <% end %>
        <span class="gal-chip"><%= @gallery.category.presence || "Divers" %></span>
      </div>
      <h2 class="gal-name"><%= @gallery.title %></h2>
    <% end %>
  </div>
</div>
