<div class="banner" data-sidebar-target="banner">
  <div class="banner-images">
    <% @members.each do |member| %>
      <% if ((member.fonction == "Comédien" || member.fonction == "Comédienne") && member.year_end == 2025) %>
        <div class="comedien-container">
          <%= link_to member_path(member) do %>
            <%= image_tag member_asset_image(member), alt: member.first_name, class: "comedien-photo" %>
          <% end %>
          <span class="comedien-name"><%= member.first_name %></span>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title">Association des Acteurs Anonymes</h1>
  </div>

  <div class="presentation">
    <p class="piece-author">Créée en 2022 par d 'anciens élèves de l 'école de théâtre Lizart à Paris, l ' Association des Acteurs Anonymes (ou AAA pour les intimes) a pour but de permettre à des comédiens amateurs de monter et de jouer des pièces de théâtres.</p>
    <div class="presentation-photo">
      <%= image_tag "aaa_origine.jpg" %>
    </div>
    <p class="piece-author">
      Nous répétons toutes les semaines au théâtre du Gouvernail à Paris sous la mise en scène de&nbsp;&nbsp;
      <%= link_to "Anaïs Le Gall", member_path(Member.find_by(first_name: "Anaïs")),
                  class: "director-link" %>
    </p>

    <div class="presentation-photo">
      <%= image_tag "anais.jpg" %>
    </div>
    <p class="piece-author">Nous sommes une troupe qui rime avec Engagement, Motivation et Bienveillance. Nous sommes des comédiens, des artistes, des personnes qui aiment jouer et s'amuser, et aussi et surtout ... nos sommes des Amis. </p>
    <div class="presentation-photo">
      <%= image_tag "aaa_friends.jpg" %>
    </div>
  </div>
</div>
