<div class="banner" data-sidebar-target="banner">
  <div class="banner-images">
      <%= image_tag "ADELINE.jpg", alt: "ADELINE", class: "comedien-photo" %>
      <%= image_tag "FRANCOIS.jpg", alt: "FRANCOIS", class: "comedien-photo" %>
      <%= image_tag "GIL.jpg", alt: "GIL", class: "comedien-photo" %>
      <%= image_tag "HELENA.jpg", alt: "HELENA", class: "comedien-photo" %>
      <%= image_tag "MANON.jpg", alt: "MANON", class: "comedien-photo" %>
      <%= image_tag "MARIE.jpg", alt: "MARIE", class: "comedien-photo" %>
      <%= image_tag "MARION.jpg", alt: "MARION", class: "comedien-photo" %>
      <%= image_tag "NICOLAS.jpg", alt: "NICOLAS", class: "comedien-photo" %>
      <%= image_tag "VINCENT.jpg", alt: "VINCENT", class: "comedien-photo" %>
  </div>
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>

    <h1 class="asso-title shimmer twinkle">
      Association des Acteurs Anonymes
    </h1>
  </div>
</div>
