<div class="galleries-wrapper" data-sidebar-target="galleries">
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title">Galeries</h1>
  </div>
  <% if @galleries.any? %>
    <div class="galleries-grid">
      <% @galleries.each do |g| %>
        <%= link_to gallery_path(g), class: "gal-card" do %>
          <div class="gal-cover"
              data-controller="galcover"
              data-galcover-interval-value="2400"
              data-galcover-autoplay-value="true">
            <div class="gal-cover-stack" data-galcover-target="stack">
              <% images = [] %>

              <% if g.respond_to?(:photos) %>
                <% g.photos.to_a.sample(6).each do |p| %>
                  <% public_id = p[:image] %>
                  <% next if public_id.blank? %>

                  <% images << Cloudinary::Utils.cloudinary_url(
                    public_id,
                    width: 800,
                    crop: :fit,
                    fetch_format: :auto,
                    quality: :auto
                  ) %>
                <% end %>
              <% end %>

              <% if images.any? %>
                <% images.each_with_index do |src, i| %>
                  <img src="<%= src %>"
                      alt="<%= "#{g.title} – photo #{i+1}" %>"
                      class="gal-slide <%= 'is-active' if i.zero? %>"
                      loading="<%= i.zero? ? 'eager' : 'lazy' %>">
                <% end %>

              <% elsif g.cover.present? %>
                <%# Si tu veux aussi passer le cover via Cloudinary un jour, on adaptera %>
                <%= image_tag g.cover, alt: g.title, class: "gal-slide is-active" %>

              <% else %>
                <div class="cover-placeholder">Aucune image</div>
              <% end %>
            </div>

          </div>
          <h2 class="gal-name"><%= g.title %></h2>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>Aucune galerie pour le moment.</p>
  <% end %>
</div>
