<!DOCTYPE html>
<html>
  <head>
    <title>Aaa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      :root {
        --rideau-bg: url("<%= cl_image_path 'rideau_nhhqpa' %>");
      }
    </style>
  </head>

  <body data-controller="sidebar videomodal videothumb">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

  </body>
</html>
