<div class="pieces-wrapper" data-sidebar-target="members">
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title">La Troupe</h1>
  </div>
  <div class="members-index">
    <% @members.each do |member| %>
      <% if (member.fonction == "Metteur en scène") %>
        <%= link_to member_path(member), class: "member-link" do %>
          <div class="member-card">
            <div class="member-photo">
              <%= cl_image_tag "#{member.slug}2", alt: member.first_name, class: "photo" %>
            </div>
            <div class="member-info">
              <h2 class="member-name"><%= member.first_name.capitalize %> <%= member.last_name.titleize %></h2>
              <p class="member-role"><%= member.fonction %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% @members.each do |member| %>
      <% if ((member.fonction == "Comédien" || member.fonction == "Comédienne") && member.active == true) %>
        <%= link_to member_path(member), class: "member-link" do %>
          <div class="member-card">
            <div class="member-photo">
              <%= cl_image_tag "#{member.slug}2", alt: member.first_name, class: "photo" %>
            </div>
            <div class="member-info">
              <h2 class="member-name"><%= member.first_name.capitalize %> <%= member.last_name.titleize %></h2>
              <p class="member-role"><%= member.fonction %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <p class="member-old"><span>Anciens Membres :</span></p>
  <div class="members-index">
    <% @members.each do |member| %>
      <% if (member.active == false) %>
        <%= link_to member_path(member), class: "member-link" do %>
          <div class="member-card">
            <div class="member-photo">
              <%= cl_image_tag "#{member.slug}2", alt: member.first_name, class: "photo" %>
            </div>
            <div class="member-info">
              <h2 class="member-name"><%= member.first_name.capitalize %> <%= member.last_name.titleize %></h2>
              <p class="member-role"><%= member.fonction %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<div>
