<div class="pieces-wrapper" data-sidebar-target="member">
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title"><%= @member.first_name.capitalize %>&nbsp;&nbsp;<%= @member.last_name.titleize %></h1>
  </div>
</div>

<% if (@member.active == true) %>
  <p><%= @member.fonction %> de l'association depuis <%= @member.year_start %></p>
<% else %>
  <p><%= @member.fonction %> de l'association de <%= @member.year_start %> à <%= @member.year_end %></p>
<% end %>

<% @castings.each do |casting| %>
  <p><%= casting.piece.title %> : <%= casting.role %></p>
<% end %>
