<div class="pieces-wrapper" data-sidebar-target="member">
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title"><%= @member.first_name.capitalize %>&nbsp;&nbsp;<%= @member.last_name.titleize %></h1>
  </div>
<% if (@member.active == true) %>
  <p><%= @member.fonction %> de l'association depuis <%= @member.year_start %></p>
<% else %>
  <p><%= @member.fonction %> de l'association de <%= @member.year_start %> à <%= @member.year_end %></p>
<% end %>

<% if (@member.fonction == "Metteur en scène") %>
  <% @pieces.each do |piece| %>
    <p><%= piece.title %></p>
  <% end %>
<% end %>

<div class="casting-parchment">
  <% piece_casting = nil %>
  <h2 class="parchment-title">Mes Rôles</h2>
  <% @castings.each do |casting| %>
    <% if (piece_casting == casting.piece) %>
      <li><%= casting.role %></li>
    <% else %>
      <p class="piece-title"><%= casting.piece.title %> (<%= casting.piece.year %>)</p>
      <li><%= casting.role %></li>
    <% end %>
    <% piece_casting = casting.piece %>
  <% end %>
</div>
</div>
