<div class="pieces-wrapper" data-sidebar-target="members">
  <div class="title-spotlights is-animated">
    <div class="spotlight"></div>
    <div class="spotlight"></div>
    <h1 class="asso-title"><%= @member.first_name.capitalize %>&nbsp;&nbsp;<%= @member.last_name.titleize %></h1>
  </div>
  <% if @band_photos.present? %>
    <div class="member-photo-band">
      <div class="member-photo-track">
        <% 2.times do %> <!-- duplication pour la boucle infinie -->
          <% @band_photos.each do |photo| %>
            <% public_id = photo[:image] %>
            <% next if public_id.blank? %>

            <% src = Cloudinary::Utils.cloudinary_url(
              public_id,
              height: 400,             # adapte si tu veux une autre hauteur
              crop: :fill,
              fetch_format: :auto,
              quality: :auto
            ) %>

            <div class="member-photo-frame">
              <img src="<%= src %>"
                  alt="<%= photo.caption.presence || @member.first_name %>"
                  class="member-photo-img">
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>


  <% if (@member.active == true) %>
    <p class="piece-author"><span><%= @member.fonction %> de l 'association depuis <%= @member.year_start %></span></p>
  <% else %>
    <p class="piece-author"><span><%= @member.fonction %> de l 'association de <%= @member.year_start %> à <%= @member.year_end %></span></p>
  <% end %>

  <% if @member.biography.present? %>
    <p class="piece-author"><%= @member.biography %></p>
  <% end %>

  <% if (@member.fonction == "Metteur en scène") %>
    <div class="casting-parchment">
      <h2 class="parchment-title">Mes Mises en Scène</h2>
      <% @pieces.each do |piece| %>
        <p class="piece-title"><%= piece.title %> (<%= piece.year %>)</p>
      <% end %>
    </div>
  <% else %>
    <div class="casting-parchment">
      <% piece_casting = nil %>
      <h2 class="parchment-title">Mes Rôles</h2>
      <% @castings.each do |casting| %>
        <% if (piece_casting == casting.piece) %>
          <li><%= casting.role %></li>
        <% else %>
          <p class="piece-title"><%= casting.piece.title %> (<%= casting.piece.year %>)</p>
          <li><%= casting.role %></li>
        <% end %>
        <% piece_casting = casting.piece %>
      <% end %>
    </div>
  <% end %>
</div>
